/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ol, ul {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
	width: 100%;
	font-family: 'Inter', sans-serif;
	background-image: url(img/tlo.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	width: 85vw;
	max-width: 1400px;
	background-color: white;
	margin: 6rem auto;
	padding: 1rem;
	box-shadow: 0px 0px 38px -4px rgba(0,0,0,0.75);
}

header {
	width: 100%;
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo {
	
}

nav {
	
}

.nav_list {
	display: flex;
	gap: 1em;
}

.nav_list a {
	color: hsl(236, 13%, 42%);
	text-decoration: none;
}

.nav_list a:hover,
.nav_list a:focus {
	color: hsl(5, 85%, 63%);
	cursor: pointer;
}

.checkbtn {
		display: none;
		cursor: pointer;
	}

#check{
	display: none;
	cursor: pointer;	
}

.close {
	display: none;
}


.mein {
	
}

.top {
	/* display: grid; */

}

.big_img {
	grid-area: ph;
}

.big_img img {
	
}

.big_txt {
	grid-area: h1;
}

.h1 {
	font-size: 52px;
	font-weight: 800;
	color: hsl(240, 100%, 5%)
}

.sml_txt {

	grid-area: txt;
	color: grey;
	display: grid;
}

.btn {
	background-color: hsl(5, 85%, 63%);
	color: white;
	padding: .5rem 2rem;
	border: none;
	border-radius: 2px;
	justify-self: self-start;
	align-self: flex-start;
	margin: 2rem 0;
}

.btn:hover,
.btn:focus {
	background-color: black;
}

.sidebar {
	grid-area: sb;
	background-color: hsl(240, 100%, 5%);
	padding: 1rem;
	margin-bottom: 3rem;
}

.h2 {
	font-size: 32px;
	font-weight: 600;
	color: hsl(35, 77%, 62%);
}

.side_card {
	color: grey;
	font-size: 16px;
	padding: 1.2rem 0;
	border-bottom: 1px solid grey;
}

.h4 {
	color: white;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
}

.h4:hover,
.h4:focus {
	color: hsl(35, 77%, 62%);
	cursor: pointer;
}


.bottom {
	display: grid;
}

.bot_box {
	color: grey;
	display: grid;
	grid-template: 
	"sph h3" 
	"sph ctx"; 
	gap: 10px;
	
}

.bot_box img {
	grid-area: sph;
	height: 120px;
}

.card_text {
	grid-area: ctx
}

.h3 {
	color: grey;
	font-size: 28px;
	font-weight: 700;
	grid-area: h3;
}

.h5 {
	font-size: 18px;
	font-weight: 700;
	color: black;	
}

.h5:hover,
.h5:focus {
	color: hsl(5, 85%, 63%);
	cursor: pointer;
}

@media (min-width: 55em) {
	.container {
		padding: 4rem;
		padding-top: 0;
	}
	
	.top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 400px 320px auto;
	grid-template-areas: 
	"ph ph"
	"h1 txt"
	"sb sb"
	}

	.bottom {
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 50px;
	
	}


}

@media (min-width: 1300px) {
	
	.top {
		grid-template-columns: 1fr 1fr .8fr;
		grid-template-rows: 1.30fr 1fr;
		grid-template-areas: 
		"ph ph  sb"
		"h1 txt sb";
		gap: 1.5rem;
	}

	.sidebar {
		margin-bottom: 0;
	}
}	


@media (max-width: 55em) {
	.nav_list {
		position: fixed;
		width: 65vw;
		height: 100vh;
		background-color: white;
		margin: 0;
		top: 0;
		right: -100%;
		display: flex;
		justify-content: center;
		flex-flow: column;
	}

	.nav_list li a{
		line-height: 1.5;
		color: black;
		font-size: 28px;
		position: relative;
		bottom: 100px
	}

	.checkbtn {
		display: block;
	}

	#check:checked ~ .nav_list {
		right: 0;
		box-shadow: 0 0 0 1000vmax rgba(0,0,0,0.75);
	}

	#check:checked ~ .checkbtn {
		position: absolute;
		top: 80px;
		right: 50px;
		z-index: 10;
	}

	.bot_box {
		justify-content: flex-start;
		margin-bottom: 2rem;
	}

}